/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: rgb(138, 37, 37);
}

h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 20px;
    color: #fff;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
}

/* UTILITIES */
.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

/* BUTTONS */
.btn {
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    background: #fff;
}

.big-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

/* DATI UTENTE */
.dati-utente {
    border-radius: 5px;
    margin-bottom: 40px;
    background: #fff; 
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.col {
    flex-basis: calc(100% / 3);
}

label {
    display: block;
}

input, 
select {
    width: 97%;
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

button {
    margin: 10px;
}

button:hover {
    cursor: pointer;
    color: #fff;
    background: rgb(82, 12, 12);;
}

/* IL TUO BIGLIETTO */
table {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    border-radius: 5px;
    background: #fff;

}

td {
    line-height: 80px;
}



